{% extends "__layout.twig" %}
{% import "macro.twig" as macro %}

{% block content %}
	{% include 'navigation.html.twig' %}
	<h1 style=" padding: 10px 20px;
  			margin: 10px 20px;">Поиск</h1>
	<form class="row gx-3 gy-2 align-items-center" style="margin-left:280px;">
		<div class="col-sm-3">
			<input type="text" value="{{title}}" placeholder="Введите имя">
		</div>
		<div class="col-sm-3">
			<input type="text" value="{{info}}" placeholder="Описание">
		</div>
		<div class="col-sm-3">

			<select name="type">
				<option value="All">All</option>
				{% for type in types %}
					<option value="{{type.type}}">{{ type.type|title }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="col-auto">
			<button type="submit" class="search-button">Найти</button>
		</div>

	</form>

	<div class="list-group mt-4 col-3">
		{% for object in objects %}
			<a href="/cat-object/{{object.id}}" class="list-group-item list-group-item-action">
				{{object.title}}
			</a>
		{% endfor %}

	</div>

	<style>
		select {

			
			border-radius: 10px;
			box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
			 padding: 10px 20px;
  			margin: 10px 20px;
		}
		input {
			
			border-radius: 10px;
			box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
			 padding: 10px 20px;
  			margin: 10px 20px;
		}
		
	</style>

{% endblock %}
